:root {
    --gray-1: rgba(217, 222, 249, 1);
    --gray-2: rgba(217, 222, 249, .5);
}

.fc-toolbar {
    background-color: var(--dark) !important;
    color: var(--white) !important;
}

.fc-day:hover:not(.fc-popover) {
    background-color: var(--gray-2);
}

.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-col.fc-day-today {
    background-color: var(--gray-1);
}

.fc .fc-popover {
    z-index: 1059;
}